@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap');

.head {
  float: left;
  margin-top: 8.5px;
  font-family: 'Cinzel', serif;
  color: #0e0d0d;
}


.txt1 {
  margin-top: 1px;
  text-align: center;
  font-family: 'Cinzel', serif;
}
.input {
  margin-bottom: 10px;
  text-align: right;
}
.male {
  margin-left: 10px;
}

.lab {
  margin-right: 40px;
  display: inline-block;
}

.lab31 {
  margin-right: 0px;
}

.txt {
  margin-top: 1rem;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.logo {
  border-radius: 50%;
  box-shadow: 1px 1px 10px 1px grey;
  margin-top: 5px;
}

.centre {
  text-align: right;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.code {
  text-align: right;
  font-family: 'Cinzel', serif;
}

.btn {
  margin-top: 1rem;
  text-align: center;
}

.details {
  text-align: center;
  font-family: 'Cinzel', serif;

}

.details2 {
  margin-top: 150px;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3rem;

}

.details1 {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 1rem;
  background-color: #112D4E;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

.bird {
  text-align: center;
  margin-bottom: -90px;
}


.button {
  text-align: center;
  background-color: #112D4E;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.2rem;
  padding: 6px 19px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid;
  color: white;
}

.botton {
  font-family: 'Cinzel Decorative', cursive;

  font-size: 1.2rem;
  text-align: center;
  background-color: #fc0d0d;
  padding: 6px 19px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid;
  color: white;

}

.para {
  text-align: center;
  font-family: 'Cinzel', serif;
    margin-bottom: -20px;
    font-weight: bold;
}
